PORT=3001
NODE_ENV=development
DB_AUTH=windows
DB_SERVER=localhost\SQLEXPRESS
DB_DATABASE=QuanLyKhamChuaBenhNoiTru
DB_ODBC_DRIVER=ODBC Driver 17 for SQL Server
DB_ENCRYPT=false
DB_TRUST_SERVER_CERTIFICATE=true
SESSION_SECRET=doi_chuoi_bi_mat_that_manh
REPORTS_FRONTEND_URL=http://localhost:3011/reports
